<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
  <script src="/javascripts/xheditor/jquery/jquery-1.11.2.min.js" charset="utf-8"></script>
  <script src="/javascripts/xheditor/xheditor-1.2.2.min.js" charset="utf-8"></script>
  <script src="/javascripts/xheditor/xheditor_lang/zh-cn.js" charset="utf-8"></script>
  <title>评论</title>
</head>
<body>
  <%- include header %>
  <form class="" action="/comment/submit" method="post">
    标题：<input type="text" name="title" value="" style="width:500px">
    <br /><br />
    内容：<textarea name="content" id="content" cols="120" rows="30"></textarea>
    <br /><br />
    <input type="submit" name="submit" value="提交">
  </form>
  <script type="text/javascript">
    pageInit()
    function pageInit() {
      $.extend(XHEDITOR.settings, {shortcuts:{'ctrl+enter': submitForm}})
      $('#content').xheditor({
        html5Upload: false,
        upMultiple: '1',

        upLinkUrl: 'upload.html',
        upLinkExt: 'zip, rar, txt',

        upImgUrl: './comment/uploadImg',
        upImgExt: 'jpg,jpeg,gif,png',

        upFlashUrl: 'upload.html',
        upFlashExt: 'swf',

        upMediaUrl: 'upload.html',
        upMediaExt: 'wmv,avi,wma,mp3,mid'
      })
    }
    function insertUpload(arrMsg) {
      var i, msg
      for (i = 0; i < arrMsg.length; i++) {
        msg = arrMsg[i]
        $("#uploadList").append('<option value="'+msg.id+'">'+msg.localname+'</option>')
      }
    }
    function submitForm() {
      $('#frmDemo').submit()
    }
  </script>
</body>
</html>
