<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="">
      <% if(!username) { %>
        <input type="button" value="登录" onclick="location.href='/login'" />
        <input type="button" value="注册" onclick="location.href='/registor'" />
      <% } else { %>
        <input type="button" value="评论" onclick="location.href='/comment'">
        <input type="button" value="注销" onclick="location.href='/logout'" />
      <% }%>
    </div>
  </body>
</html>
